<h2>Reporter output</h2><table><tr><td>Clicking on bank manager login Button [[ChromeDriver: chrome on WINDOWS (1745c66b3e8a0106aa3304222ab325e8)] -> xpath: //button[contains(text(),'Bank Manager Login')]]</td></tr>
<tr><td>Clicking on add customer Button [[ChromeDriver: chrome on WINDOWS (1745c66b3e8a0106aa3304222ab325e8)] -> xpath: //button[@ng-class='btnClass1']]</td></tr>
<tr><td>Enter first name Prime to first name field [[ChromeDriver: chrome on WINDOWS (1745c66b3e8a0106aa3304222ab325e8)] -> xpath: //input[@placeholder='First Name']]</td></tr>
<tr><td>Enter last name Tester to last name field [[ChromeDriver: chrome on WINDOWS (1745c66b3e8a0106aa3304222ab325e8)] -> xpath: //input[@placeholder='Last Name']]</td></tr>
<tr><td>Enter postcode E89899 to postcode field [[ChromeDriver: chrome on WINDOWS (1745c66b3e8a0106aa3304222ab325e8)] -> xpath: //input[@placeholder='Post Code']]</td></tr>
<tr><td>Clicking on add customer Button [[ChromeDriver: chrome on WINDOWS (1745c66b3e8a0106aa3304222ab325e8)] -> xpath: //button[@type='submit']]</td></tr>
<tr><td>Getting customer added popup message Customer added successfully with customer id :6</td></tr>
<tr><td>Clicking on add customer Button </td></tr>
<tr><td>Click to see screenshot</td></tr>
<tr><td><a target = "_blank" href=C:\Users\krupa\IdeaProjects\com-xyz-bank-pagefactorymodel/test-output/html/bankManagerShouldAddCustomerSuccessfullyTue_Dec_13_20_58_52_GMT_2022.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td><br></td></tr>
<tr><td><a target = "_blank" href=C:\Users\krupa\IdeaProjects\com-xyz-bank-pagefactorymodel/test-output/html/bankManagerShouldAddCustomerSuccessfullyTue_Dec_13_20_58_52_GMT_2022.jpg><img src=C:\Users\krupa\IdeaProjects\com-xyz-bank-pagefactorymodel/test-output/html/bankManagerShouldAddCustomerSuccessfullyTue_Dec_13_20_58_52_GMT_2022.jpg height=200 width=200></img></a></td></tr>
<tr><td>Clicking on bank manager login Button [[ChromeDriver: chrome on WINDOWS (5eee247f9ff4e1bada01c268a27ef285)] -> xpath: //button[contains(text(),'Bank Manager Login')]]</td></tr>
<tr><td>Clicking on add customer Button [[ChromeDriver: chrome on WINDOWS (5eee247f9ff4e1bada01c268a27ef285)] -> xpath: //button[@ng-class='btnClass1']]</td></tr>
<tr><td>Enter first name Prime to first name field [[ChromeDriver: chrome on WINDOWS (5eee247f9ff4e1bada01c268a27ef285)] -> xpath: //input[@placeholder='First Name']]</td></tr>
<tr><td>Enter last name Tester to last name field [[ChromeDriver: chrome on WINDOWS (5eee247f9ff4e1bada01c268a27ef285)] -> xpath: //input[@placeholder='Last Name']]</td></tr>
<tr><td>Enter postcode E89899 to postcode field [[ChromeDriver: chrome on WINDOWS (5eee247f9ff4e1bada01c268a27ef285)] -> xpath: //input[@placeholder='Post Code']]</td></tr>
<tr><td>Clicking on add customer Button [[ChromeDriver: chrome on WINDOWS (5eee247f9ff4e1bada01c268a27ef285)] -> xpath: //button[@type='submit']]</td></tr>
<tr><td>Clicking on add customer Button </td></tr>
<tr><td>Clicking on open account Button [[ChromeDriver: chrome on WINDOWS (5eee247f9ff4e1bada01c268a27ef285)] -> xpath: //button[@ng-click='openAccount()']]</td></tr>
<tr><td>selecting Prime Testerfrom [[ChromeDriver: chrome on WINDOWS (5eee247f9ff4e1bada01c268a27ef285)] -> id: userSelect]</td></tr>
<tr><td>selecting Poundfrom [[ChromeDriver: chrome on WINDOWS (5eee247f9ff4e1bada01c268a27ef285)] -> id: currency]</td></tr>
<tr><td>Clicking on process Button [[ChromeDriver: chrome on WINDOWS (5eee247f9ff4e1bada01c268a27ef285)] -> xpath: //button[contains(text(),'Process')]]</td></tr>
<tr><td>Getting account created successfully message Account created successfully with account Number :1016</td></tr>
<tr><td>Clicking on ok on popup </td></tr>
<tr><td>Click to see screenshot</td></tr>
<tr><td><a target = "_blank" href=C:\Users\krupa\IdeaProjects\com-xyz-bank-pagefactorymodel/test-output/html/bankManagerShouldOpenAccountSuccessfullyTue_Dec_13_20_59_00_GMT_2022.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td><br></td></tr>
<tr><td><a target = "_blank" href=C:\Users\krupa\IdeaProjects\com-xyz-bank-pagefactorymodel/test-output/html/bankManagerShouldOpenAccountSuccessfullyTue_Dec_13_20_59_00_GMT_2022.jpg><img src=C:\Users\krupa\IdeaProjects\com-xyz-bank-pagefactorymodel/test-output/html/bankManagerShouldOpenAccountSuccessfullyTue_Dec_13_20_59_00_GMT_2022.jpg height=200 width=200></img></a></td></tr>
<tr><td>Clicking on bank manager login Button [[ChromeDriver: chrome on WINDOWS (c18b59cffecb413c0f654cb55de90f8f)] -> xpath: //button[contains(text(),'Bank Manager Login')]]</td></tr>
<tr><td>Clicking on add customer Button [[ChromeDriver: chrome on WINDOWS (c18b59cffecb413c0f654cb55de90f8f)] -> xpath: //button[@ng-class='btnClass1']]</td></tr>
<tr><td>Enter first name Prime to first name field [[ChromeDriver: chrome on WINDOWS (c18b59cffecb413c0f654cb55de90f8f)] -> xpath: //input[@placeholder='First Name']]</td></tr>
<tr><td>Enter last name Tester to last name field [[ChromeDriver: chrome on WINDOWS (c18b59cffecb413c0f654cb55de90f8f)] -> xpath: //input[@placeholder='Last Name']]</td></tr>
<tr><td>Enter postcode E89899 to postcode field [[ChromeDriver: chrome on WINDOWS (c18b59cffecb413c0f654cb55de90f8f)] -> xpath: //input[@placeholder='Post Code']]</td></tr>
<tr><td>Clicking on add customer Button [[ChromeDriver: chrome on WINDOWS (c18b59cffecb413c0f654cb55de90f8f)] -> xpath: //button[@type='submit']]</td></tr>
<tr><td>Getting customer added popup message Customer added successfully with customer id :6</td></tr>
<tr><td>Clicking on add customer Button </td></tr>
<tr><td>Clicking on open account Button [[ChromeDriver: chrome on WINDOWS (c18b59cffecb413c0f654cb55de90f8f)] -> xpath: //button[@ng-click='openAccount()']]</td></tr>
<tr><td>selecting Prime Testerfrom [[ChromeDriver: chrome on WINDOWS (c18b59cffecb413c0f654cb55de90f8f)] -> id: userSelect]</td></tr>
<tr><td>selecting Poundfrom [[ChromeDriver: chrome on WINDOWS (c18b59cffecb413c0f654cb55de90f8f)] -> id: currency]</td></tr>
<tr><td>Clicking on process Button [[ChromeDriver: chrome on WINDOWS (c18b59cffecb413c0f654cb55de90f8f)] -> xpath: //button[contains(text(),'Process')]]</td></tr>
<tr><td>Clicking on ok on popup </td></tr>
<tr><td>Clicking on Home Page Button [[ChromeDriver: chrome on WINDOWS (c18b59cffecb413c0f654cb55de90f8f)] -> xpath: //button[contains(text(),'Home')]]</td></tr>
<tr><td>Clicking on customer login Button [[ChromeDriver: chrome on WINDOWS (c18b59cffecb413c0f654cb55de90f8f)] -> xpath: //button[@ng-click='customer()']]</td></tr>
<tr><td>Select your name Prime Tester from [[ChromeDriver: chrome on WINDOWS (c18b59cffecb413c0f654cb55de90f8f)] -> id: userSelect]</td></tr>
<tr><td>Clicking on login Button [[ChromeDriver: chrome on WINDOWS (c18b59cffecb413c0f654cb55de90f8f)] -> xpath: //button[@type='submit']]</td></tr>
<tr><td>Clicking on deposit Button [[ChromeDriver: chrome on WINDOWS (c18b59cffecb413c0f654cb55de90f8f)] -> xpath: //div[@class='borderM box padT20 ng-scope']//button[2]]</td></tr>
<tr><td>Enter amount 100 to amount field [[ChromeDriver: chrome on WINDOWS (c18b59cffecb413c0f654cb55de90f8f)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[4]/div[1]/form[1]/div[1]/input[1]]</td></tr>
<tr><td>Clicking on deposit Button [[ChromeDriver: chrome on WINDOWS (c18b59cffecb413c0f654cb55de90f8f)] -> xpath: //button[text()='Deposit']]</td></tr>
<tr><td>Getting success message [[ChromeDriver: chrome on WINDOWS (c18b59cffecb413c0f654cb55de90f8f)] -> xpath: //span[contains(text(),'Deposit Successful')]]</td></tr>
<tr><td>Click to see screenshot</td></tr>
<tr><td><a target = "_blank" href=C:\Users\krupa\IdeaProjects\com-xyz-bank-pagefactorymodel/test-output/html/customerShouldDepositMoneySuccessfullyTue_Dec_13_20_59_09_GMT_2022.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td><br></td></tr>
<tr><td><a target = "_blank" href=C:\Users\krupa\IdeaProjects\com-xyz-bank-pagefactorymodel/test-output/html/customerShouldDepositMoneySuccessfullyTue_Dec_13_20_59_09_GMT_2022.jpg><img src=C:\Users\krupa\IdeaProjects\com-xyz-bank-pagefactorymodel/test-output/html/customerShouldDepositMoneySuccessfullyTue_Dec_13_20_59_09_GMT_2022.jpg height=200 width=200></img></a></td></tr>
<tr><td>Clicking on bank manager login Button [[ChromeDriver: chrome on WINDOWS (6e50e638b9bb1799e2885dbdc65090bd)] -> xpath: //button[contains(text(),'Bank Manager Login')]]</td></tr>
<tr><td>Clicking on add customer Button [[ChromeDriver: chrome on WINDOWS (6e50e638b9bb1799e2885dbdc65090bd)] -> xpath: //button[@ng-class='btnClass1']]</td></tr>
<tr><td>Enter first name Prime to first name field [[ChromeDriver: chrome on WINDOWS (6e50e638b9bb1799e2885dbdc65090bd)] -> xpath: //input[@placeholder='First Name']]</td></tr>
<tr><td>Enter last name Tester to last name field [[ChromeDriver: chrome on WINDOWS (6e50e638b9bb1799e2885dbdc65090bd)] -> xpath: //input[@placeholder='Last Name']]</td></tr>
<tr><td>Enter postcode E89899 to postcode field [[ChromeDriver: chrome on WINDOWS (6e50e638b9bb1799e2885dbdc65090bd)] -> xpath: //input[@placeholder='Post Code']]</td></tr>
<tr><td>Clicking on add customer Button [[ChromeDriver: chrome on WINDOWS (6e50e638b9bb1799e2885dbdc65090bd)] -> xpath: //button[@type='submit']]</td></tr>
<tr><td>Clicking on add customer Button </td></tr>
<tr><td>Clicking on open account Button [[ChromeDriver: chrome on WINDOWS (6e50e638b9bb1799e2885dbdc65090bd)] -> xpath: //button[@ng-click='openAccount()']]</td></tr>
<tr><td>selecting Prime Testerfrom [[ChromeDriver: chrome on WINDOWS (6e50e638b9bb1799e2885dbdc65090bd)] -> id: userSelect]</td></tr>
<tr><td>selecting Poundfrom [[ChromeDriver: chrome on WINDOWS (6e50e638b9bb1799e2885dbdc65090bd)] -> id: currency]</td></tr>
<tr><td>Clicking on process Button [[ChromeDriver: chrome on WINDOWS (6e50e638b9bb1799e2885dbdc65090bd)] -> xpath: //button[contains(text(),'Process')]]</td></tr>
<tr><td>Clicking on ok on popup </td></tr>
<tr><td>Clicking on Home Page Button [[ChromeDriver: chrome on WINDOWS (6e50e638b9bb1799e2885dbdc65090bd)] -> xpath: //button[contains(text(),'Home')]]</td></tr>
<tr><td>Clicking on customer login Button [[ChromeDriver: chrome on WINDOWS (6e50e638b9bb1799e2885dbdc65090bd)] -> xpath: //button[@ng-click='customer()']]</td></tr>
<tr><td>Select your name Prime Tester from [[ChromeDriver: chrome on WINDOWS (6e50e638b9bb1799e2885dbdc65090bd)] -> id: userSelect]</td></tr>
<tr><td>Clicking on login Button [[ChromeDriver: chrome on WINDOWS (6e50e638b9bb1799e2885dbdc65090bd)] -> xpath: //button[@type='submit']]</td></tr>
<tr><td>Getting your name message [[ChromeDriver: chrome on WINDOWS (6e50e638b9bb1799e2885dbdc65090bd)] -> xpath: //label[contains(text(),'Your Name :')]]</td></tr>
<tr><td>Click to see screenshot</td></tr>
<tr><td><a target = "_blank" href=C:\Users\krupa\IdeaProjects\com-xyz-bank-pagefactorymodel/test-output/html/customerShouldLoginAndLogoutSuceessfullyTue_Dec_13_20_59_26_GMT_2022.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td><br></td></tr>
<tr><td><a target = "_blank" href=C:\Users\krupa\IdeaProjects\com-xyz-bank-pagefactorymodel/test-output/html/customerShouldLoginAndLogoutSuceessfullyTue_Dec_13_20_59_26_GMT_2022.jpg><img src=C:\Users\krupa\IdeaProjects\com-xyz-bank-pagefactorymodel/test-output/html/customerShouldLoginAndLogoutSuceessfullyTue_Dec_13_20_59_26_GMT_2022.jpg height=200 width=200></img></a></td></tr>
<tr><td>Clicking on bank manager login Button [[ChromeDriver: chrome on WINDOWS (a2b335598c6170fba088b0fe0f7bc110)] -> xpath: //button[contains(text(),'Bank Manager Login')]]</td></tr>
<tr><td>Clicking on add customer Button [[ChromeDriver: chrome on WINDOWS (a2b335598c6170fba088b0fe0f7bc110)] -> xpath: //button[@ng-class='btnClass1']]</td></tr>
<tr><td>Enter first name Prime to first name field [[ChromeDriver: chrome on WINDOWS (a2b335598c6170fba088b0fe0f7bc110)] -> xpath: //input[@placeholder='First Name']]</td></tr>
<tr><td>Enter last name Tester to last name field [[ChromeDriver: chrome on WINDOWS (a2b335598c6170fba088b0fe0f7bc110)] -> xpath: //input[@placeholder='Last Name']]</td></tr>
<tr><td>Enter postcode E89899 to postcode field [[ChromeDriver: chrome on WINDOWS (a2b335598c6170fba088b0fe0f7bc110)] -> xpath: //input[@placeholder='Post Code']]</td></tr>
<tr><td>Clicking on add customer Button [[ChromeDriver: chrome on WINDOWS (a2b335598c6170fba088b0fe0f7bc110)] -> xpath: //button[@type='submit']]</td></tr>
<tr><td>Getting customer added popup message Customer added successfully with customer id :6</td></tr>
<tr><td>Clicking on add customer Button </td></tr>
<tr><td>Clicking on open account Button [[ChromeDriver: chrome on WINDOWS (a2b335598c6170fba088b0fe0f7bc110)] -> xpath: //button[@ng-click='openAccount()']]</td></tr>
<tr><td>selecting Prime Testerfrom [[ChromeDriver: chrome on WINDOWS (a2b335598c6170fba088b0fe0f7bc110)] -> id: userSelect]</td></tr>
<tr><td>selecting Poundfrom [[ChromeDriver: chrome on WINDOWS (a2b335598c6170fba088b0fe0f7bc110)] -> id: currency]</td></tr>
<tr><td>Clicking on process Button [[ChromeDriver: chrome on WINDOWS (a2b335598c6170fba088b0fe0f7bc110)] -> xpath: //button[contains(text(),'Process')]]</td></tr>
<tr><td>Clicking on ok on popup </td></tr>
<tr><td>Clicking on Home Page Button [[ChromeDriver: chrome on WINDOWS (a2b335598c6170fba088b0fe0f7bc110)] -> xpath: //button[contains(text(),'Home')]]</td></tr>
<tr><td>Clicking on customer login Button [[ChromeDriver: chrome on WINDOWS (a2b335598c6170fba088b0fe0f7bc110)] -> xpath: //button[@ng-click='customer()']]</td></tr>
<tr><td>Select your name Prime Tester from [[ChromeDriver: chrome on WINDOWS (a2b335598c6170fba088b0fe0f7bc110)] -> id: userSelect]</td></tr>
<tr><td>Clicking on login Button [[ChromeDriver: chrome on WINDOWS (a2b335598c6170fba088b0fe0f7bc110)] -> xpath: //button[@type='submit']]</td></tr>
<tr><td>Clicking on deposit Button [[ChromeDriver: chrome on WINDOWS (a2b335598c6170fba088b0fe0f7bc110)] -> xpath: //div[@class='borderM box padT20 ng-scope']//button[2]]</td></tr>
<tr><td>Enter amount 100 to amount field [[ChromeDriver: chrome on WINDOWS (a2b335598c6170fba088b0fe0f7bc110)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[4]/div[1]/form[1]/div[1]/input[1]]</td></tr>
<tr><td>Clicking on deposit Button [[ChromeDriver: chrome on WINDOWS (a2b335598c6170fba088b0fe0f7bc110)] -> xpath: //button[text()='Deposit']]</td></tr>
<tr><td>Clicking on withdrawal Button [[ChromeDriver: chrome on WINDOWS (a2b335598c6170fba088b0fe0f7bc110)] -> xpath: //button[@ng-click='withdrawl()']]</td></tr>
<tr><td>Enter amount 50 to amount field [[ChromeDriver: chrome on WINDOWS (a2b335598c6170fba088b0fe0f7bc110)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[4]/div[1]/form[1]/div[1]/input[1]]</td></tr>
<tr><td>Clicking on withdraw Button [[ChromeDriver: chrome on WINDOWS (a2b335598c6170fba088b0fe0f7bc110)] -> xpath: //button[text()='Withdraw']]</td></tr>
<tr><td>Getting success message [[ChromeDriver: chrome on WINDOWS (a2b335598c6170fba088b0fe0f7bc110)] -> xpath: //span[contains(text(),'Transaction successful')]]</td></tr>
<tr><td>Click to see screenshot</td></tr>
<tr><td><a target = "_blank" href=C:\Users\krupa\IdeaProjects\com-xyz-bank-pagefactorymodel/test-output/html/customerShouldWithdrawMoneySuccessfullyTue_Dec_13_20_59_39_GMT_2022.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td><br></td></tr>
<tr><td><a target = "_blank" href=C:\Users\krupa\IdeaProjects\com-xyz-bank-pagefactorymodel/test-output/html/customerShouldWithdrawMoneySuccessfullyTue_Dec_13_20_59_39_GMT_2022.jpg><img src=C:\Users\krupa\IdeaProjects\com-xyz-bank-pagefactorymodel/test-output/html/customerShouldWithdrawMoneySuccessfullyTue_Dec_13_20_59_39_GMT_2022.jpg height=200 width=200></img></a></td></tr>
</table>